# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/

# Environment / credentials
.env
*.env

# OS files
.DS_Store
Thumbs.db

# Power BI temporary files
*.tmp
~$*.pbix

# VS Code
.vscode/

# PostgreSQL / local database files
*.log